@import '../../../../public/stylesheets/partials/variables';
@import '../../../../public/stylesheets/partials/mixins';

div.player-container {
  align-items: flex-end;
  display: flex;
  flex: 5;
  height: 9vmin;
  justify-content: space-around;
  margin: 1em;
  width: 100%;
  
  &:last-child {
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-self: flex-end;
  }
  
  @media #{map-get($break-points, "500")} {
    height: 14vh;
  }
  
  div.player-container__bowl {
    align-items: center;
    background: radial-gradient(farthest-corner at 48% 54%, rgba(30, 5, 0, 0.25) 0%, rgba(30, 5, 0, 0.45) 2%, rgba(30, 5, 0, 0.75) 32%, rgba(0,0,0,0.85)35%, rgb(116,48,17) 48%, rgb(140, 60, 40) 52%, rgb(100, 40, 5) 55%, rgb(116, 48, 17) 58%, rgb(140,60,40) 65%, rgb(100, 40, 5) 80%, rgb(80, 20, 0) 90%);
    background-color: rgb(116, 48, 17);
    border-radius: 50%;
    box-shadow: -1vmin 2vmin 1.5vmin rgba(83, 53, 35, 0.61);
    display: flex;
    height: 15vh;
    justify-content: center;
    margin: 4vh;
    order: -1;
    width: 15vh;

    @media #{map-get($break-points, "570")} {
      height: 10vh;
      margin: 3vh;
      width: 10vh;
    }
    
    &[data-turn]:hover p {
      background-color: rgba(0,0,0,0.3);
      color: #FFF;
      cursor: grab;
      display: block;
      padding: .5em;
    }
    &[data-turn] {
      box-shadow: 0 0 3vh 3vh rgb(255, 175, 2);
        
      & + .player-container__name-space .player-container__caps-space:hover :first-child {
        background-color: rgba(0,0,0,0.7);
        cursor: grab;
        display: block;
        padding: .5em;
        position: absolute;
      }
    }

    p {
      display: none;
    }
  }
}

div.player-container__caps-space {
  align-items: center;
  background: radial-gradient(farthest-side at 49% 52%, rgb(150, 75, 50) 0%, rgb(116,48,17) 35%, rgb(116,48,17) 64%, rgb(80, 20, 0) 65%, rgb(175, 140, 95) 70%, rgb(120, 50, 40) 80%, rgb(80, 20, 0) 95%, rgb(175, 140, 95) 100%);
  border-radius: 50%;
  box-shadow: -0.5vmin 1vmin 1vmin rgba(83, 53, 35, 0.61);
  color: #FFF;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin: 1vh;
  width: 10vh;
  
  @media #{map-get($break-points, "570")} {
    height: 7vh;
    margin: 2vh;
    width: 7vh;
  }

  & :first-child {
    display: none;
  }
}

div.player-container__name-space {
  align-items: center;
  flex-direction: column;
  display: flex;
  order: 1;
  
  h4 {
    @include gameViewLabel;
    font-size: 120%;
    z-index: 1;
  }
}
