@import '../public/stylesheets/partials/_variables';
@import '../public/stylesheets/partials/_mixins';

html * {
  margin: 0;
  font-size: 14px;
  
  @media #{map-get($break-points, "500")} {
    // font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;

  div#root {
    @include fullspan;
  }

  div.App {
    @include fullspan;
    // ! dev settings
    background-color: map-get($dev-colors, "f");
  }

  // ! dev settings
  aside {
    background-color: map-get($colors, "sidebar");
  }
  
  main {
    background-color: map-get($colors, "main");
    font-weight: 100;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
