@import '../../../../public/stylesheets/partials/mixins';

div.main-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  @include fullspan;
  
  div.NavBar {
    max-height: 10vh;
    min-height: 5vh;
  }

  div.content-wrapper {
    display: flex;
    justify-content: flex-start;
    @include fullspan;

    aside {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 20vw;
      a {
        display: block;
      }
    }
    
    main {
      display: block;
      max-width: 80vw;
      width: 100%;
      height: 100%;
    }
  }
}