@import '../../../public/stylesheets/partials/variables';
@import '../../../public/stylesheets/partials/mixins';

div.Home {
  @include fullspan;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: map-get($colors, "home");
  overflow: scroll;
}