@import '../../../../public/stylesheets/partials/mixins';

div.GameButton {
  align-items: stretch;
  box-shadow: -2vmin 4vmin 2vmin rgba(83, 53, 35, 0.81);
  display: flex;
  flex-flow: column nowrap;
  height: 20vh;
  justify-content: space-around;
  margin: 1vw;
  width: 20vh;
}

div.GameButton__seat {
  background-color: red;
  height: 10%;
  margin: 0 auto;
  width: 50%;
  
  &.GameButton__seat--black {
    border: rgba(83, 53, 35, 0.81);
    border-radius: 5vw 5vw 0 0;
  }
  
  &.GameButton__seat--white {
    border: transparent;
    border-radius: 0 0 5vw 5vw;
  }
  
}

div.GameButton__table {
  height: 80%;
  margin: 0;
  width: 100%;
}

div.GameButton__table__meta {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

div.GameButton__table__meta * {
  z-index: 2;
}

div.GameButton__table__image {
  align-items: center;
  background: radial-gradient(
    farthest-corner at 55% 40%, 
    rgb(150, 200, 220) 0%, rgb(97, 166, 194) 65%, rgb(70,100,120) 100%
  );
  border-top: 0.1vw solid rgb(150, 200, 220);
  border-right: 0.05vw solid rgb(97, 166, 194);
  border-radius: 0.3vw; 
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  top: -100%;
  width: 100%;
  z-index: 1;
  
  div.table__game-board {
    background: radial-gradient(
      farthest-corner at 55% 40%, 
      rgb(244, 230, 120) 0%, rgb(234, 178, 78) 65%, rgb(200, 160, 90) 90%, rgb(200, 140, 90) 100%
    );
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    div.table__game-board--grid {
      background: 
        repeating-linear-gradient(0deg, #000 0%, transparent 0.75%, transparent 4.25%, #000 5%), 
        repeating-linear-gradient(90deg, #000 0%, transparent 0.75%, transparent 4.25%, #000 5%);
      height: 94%;
      width: 94%;
    }
  }
}

div.table__player-area {
  height: 20%;
  width: 60%;

  div.table__player-bowl {
    background: radial-gradient(
      farthest-corner at 48% 54%, 
      rgb(30, 5, 0) 0%, rgb(30, 5, 0) 2%, rgb(30, 5, 0) 32%, rgb(0,0,0)35%, rgb(116,48,17) 48%, 
      rgb(140, 60, 40) 52%, rgb(100, 40, 5) 55%, rgb(116, 48, 17) 58%, rgb(140,60,40) 65%, 
      rgb(100, 40, 5) 80%, rgb(80, 20, 0) 90%
    );
    border-radius: 50%;
    height: 100%;

    &--white {
      margin: auto auto auto 75%;
    }
    
    &--black {
      margin: auto 75% auto auto;
    }

  }
}

div.GameButton__player-data {
  @include gameViewLabel;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  
  &.GameButton__player-data--white {
    margin: 0 5vw 1vw 0.5vw;
  }
  
  &.GameButton__player-data--black {
    margin: 1vw 0.5vw 0 5vw;
  }
}

.GameButton__link {
  @include gameViewLabel;
  margin: 0 auto;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}